@import "../styles/initial-variables";
@import "bulma/sass/utilities/functions";


$dark: #132438;
$indigo: #324899;
$lightblue: #538fc4;
$blueGrey: #647e94;
$deepPurple: #543b92;
$lilac: #7f57af;
$aqua: #328688;
$softPink: #be4abd;
$brightPink: #d92865;
$teal: #01a19b;
$grass: rgb(104, 174, 50);
$brightRed: rgb(206, 44, 56);
$midBlue: rgb(58, 86, 227);
$brightOrange:  rgb(238, 82, 56);
$amber: #fec616;

$primary: $dark;

@import "../styles/derived-variables";

$addColors: (
"time":($deepPurple, $purple-invert),
"holiday":($lightblue, $blue-invert),
"free-time": ($softPink, $red-invert),
"sick": ($aqua, $green-invert),
"lieu": ($lilac, $purple-invert),
"reviews": ($brightPink, $purple-invert),
"performance": ($indigo, $blue-invert),
"wages": ($amber, $orange-invert),
"finance": ($blueGrey, $blue-invert),
"stock": ($teal, $green-invert),
"recruitment": ($orange, $orange-invert),
"training": ($midBlue, $blue-invert),
"approved": ($grass, $green-invert),
"denied": ($brightRed, $red-invert),
"pending": ($brightOrange, $orange-invert)
);
$colors: map-merge($colors, $addColors);

@import "bulma/bulma";
@import '@vuepic/vue-datepicker/dist/main.css';

html {
  background-color: $dark;
}

.header.navbar {
  height: 6rem;
}

.navbar-item img {
  max-height: 6rem;

@include until($tablet) {
  max-height: 2rem;
}
}

.hero-body {
  padding: 1rem;
}

.dashboard.section {
  padding: .5rem;
@include from($desktop) {
  padding: 0;
}
}

.box {
  color: $white;
.label {
  color: $white;
}
}

.approved {
  background: url("main/dist/img/icons/status_green.svg") top right no-repeat;
  background-size: 2rem;
}

.pending {
  background: url("main/dist/img/icons/status_orange.svg") top right no-repeat;
  background-size: 2rem;
}

.denied {
  background: url("main/dist/img/icons/status_red.svg") top right no-repeat;
  background-size: 2rem;
}

.help {
  display: none;
}

.help.is-danger {
  display: block;
}

.padded-bottom {
  padding-bottom: 1rem;
}

.table {
  th {
    color: black !important;
  }
}

/* transition styling */

.transition-container {
  display: flex;
  flex-direction: column;
  min-height: 500px; /* Adjust this value based on the minimum height you want to maintain */
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-enter, .fade-leave-active {
  opacity: 0;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .15s;
}

